@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
:root{
    --blue-green:#213740;
    --slate-gray:#314E59;
    --mint-turquoise:#496B73;
    --pastel-turquoise:#81A6A6;
    --pastel-turquoise_op:rgba(141, 175, 169,0.5);
    --beige_green:#E8F2D8;
    --beige:#f9f4ea;
    --beige_op:rgba(229, 231, 198,0.8);
    --pale_gray-brown:#BC8E7B;
    --light_gray-brown:#986953;
    --beige-brown:#845643;
    --lime_clay:#744637;
    --deep_red-brown:#3A0501;
}
body{
    background-color:#fcf5f1 !important;
}
.light_nav_foot{
    background-color:var(--pastel-turquoise) ;
    color: black;
}
.light_nav_foot a{
    color: black;
    transition: 0.3s;
}
.light_nav_foot a:hover{
    color:var(--mint-turquoise);
}
.activ a{
    color:var(--mint-turquoise);
}